<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Create Post</title>
</head>
<body>
<%- include('./partials/nav') %>
<section class="bg-secondary">
    <div class="container vh-100">
        <div class="row h-100 justify-content-center">
            <div class="col-6 mx-auto my-auto bg-white p-3 rounded">
                <h1 class="text-center mb-3">Create Post</h1>
                <p class="text-center text-secondary">
                    Posts are powerful. Create an inspiring post and engage your audience.
                </p>

                <form action="/post/create" method="post" autocomplete="off">

                    <label for="threadName" class="form-label">Thread</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="threadName" name="threadName" placeholder="cats" required>
                    </div>

                    <label for="header" class="form-label">Header</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="header" name="header" required>
                    </div>

                    <label for="tag" class="form-label">Tag</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="tag" name="tag" required>
                    </div>

                    <label for="text" class="form-label">Text</label>
                    <textarea class="form-control" style="height: 20vh;" placeholder="My name is Yoshikage Kira. I’m 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest. I don’t smoke, but I occasionally drink. I’m in bed by 11 PM, and make sure I get eight hours of sleep, no matter what. After having a glass of warm milk and doing about twenty minutes of stretches before going to bed, I usually have no problems sleeping until morning. Just like a baby, I wake up without any fatigue or stress in the morning.
I was told there were no issues at my last check-up. I’m trying to explain that I’m a person who wishes to live a very quiet life. I take care not to trouble myself with any enemies, like winning and losing, that would cause me to lose sleep at night. That is how I deal with society, and I know that is what brings me happiness. Although, if I were to fight I wouldn’t lose to anyone." id="floatingTextarea" name="text"></textarea>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


</body>

</html>